.page-title{
    color: white;
    font-size: 40px;
    padding: 10px;

}
.main_body{
    background-color: rgb(236, 236, 236);
}


.main_img{

    padding: 5px;
    width: 300px;

}


.img-thumbnail{

    height: 110px;
}
.first_container{
    padding-left: 70px;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;

    
}

.second_row_container{
    background-color: white;
    margin-top: 20px;
    margin-left: 0px;
    padding: 20px;
   
}



.summary_wrap{
    padding: 40px;
    background-color: white;
}

.vis_wrap{
    padding: 70px;
    padding-bottom: 30px;
    padding-right: 0px;
    background-color: white;
    margin-left: 750px;
    margin-top: 50px;

}

.second_row_container{
    visibility: hidden;
}

.summary_wrap_small{
    visibility: hidden;
}

@media (max-width: 1000px) {
    .second_row_container{
        visibility: visible;

    }

    .vis_wrap{
        visibility: hidden;
    }
    
    .summary_wrap_small{

        visibility: visible;
        background-color: white;
        padding: 40px;
    }

    .summary_wrap{
        visibility: hidden;
    }


}