.page-title{
    color: white;
    font-size: 40px;
    padding: 10px;

}
.main_body{
    background-color: rgb(236, 236, 236);
}

.table{
    text-align: center;
    width: auto;

    
}

.comparison_wrap{
    background-color: white;
    padding: 70px;
    margin: auto;
}

.first_container{
    margin-left: 70px;
}
